
@import url('https://fonts.googleapis.com/css2?family=Electrolize&display=swap');

/*! Base Css start */

*{margin: 0;}

body{height: 100vh;
    font-family: 'Electrolize', sans-serif;
    
}

/*! Base Css end */

.navbar{
    background-color: black;
    height: 60px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
    position: sticky;
    top: 0;
}

.logo{
    font-size: 30px;
    color: rgb(255, 70, 70)
    
}
.menu-list{display: flex;
list-style: none;
column-gap: 30px;

}
.menu-list-item{
    cursor: pointer;
}
.menu-list-item:hover{
    font-weight: bold;
}
.menu-list-item.active{
    font-weight: bold;
}
.sidebar{background-color: black;
color: white;
height: 100%;
width: 50px;
}
